body {
    position: relative;
    background-color: #DDDDDD;
    font-family: 'helvetica', sans-serif;
    font-weight: lighter;
    color: #555;
    margin: 0;
    padding: 0;
    min-width: 320px;
}
a { font-weight: 500; }
/* Fix weird flickering in Safari */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1 {
    font-weight: bold;
    color: #333;
    margin: 0;
}
h2 {
    font-weight: normal;
    color: #555555;
}
h3 {
    font-weight: lighter;
    color: #555555;
}
h4 {
    font-weight: lighter;
    color: #555555;
}
.eval-imgs {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}
.eval-imgs img {
    display: inline;
    vertical-align: top;
    float: none;
    width: 30px;
    padding: 1px;
}
.eval-imgs-first {
    margin-left: -15px;
}
.title {
    text-align: center;
    width: 90%;
    margin: auto auto 20px;
}
.tagline {
    font-style: italic;
}
.inline-footnote {
    margin: auto;
    display: none;
}
.title h1 {
    margin-bottom: 20px;
}
.title p {
    margin-bottom: 1px;
}

.split {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.split p {
    flex-basis: 100%;
}
@media screen and (min-width: 767px) {
    .split p { flex-basis: 48%; }
}
.right-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-align: center;
}
.btn.disabled-button:disabled {
    background-color: #171a1d;
    opacity: 100%;
}
.btn.disabled-button.highlighted:disabled {
    border: 2px white solid;
}
.codec-info {
    font-size: 90%;
    font-style: italic;
}
.left-selector {
    position: absolute;
    top: 10px;
    left: 10px;
}
.img-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.bpp-bytes-sel {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 9pt;
}
.full-res-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 9pt;
    text-align: right;
}
.overlay-box {
    border: 1px solid white;
    position: absolute;
    color: white;
    padding: 3px;
    border-radius: 6px;
    text-align: center;
    top: 19px;
    left: 30px;
    background-color: black;
}
.page-container {
    position: relative;
    width: 100%;
    margin: 50px 0;
}
.page-container .inner {
    position: relative;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #EEE;
}
.outlined {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}
.comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 5px white solid;
    box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider #right-imgs > img {
    width: 100%;
    height: auto;
    display: block;
}
.comparison-slider-wrapper .comparison-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
.comparison-slider-wrapper .comparison-slider .resize > img {
    display: block;
}
.comparison-slider-wrapper .comparison-slider .divider {
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    cursor: ew-resize;
}
.comparison-slider-wrapper .comparison-slider .divider:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -13px;
    top: 50%;
    margin-top: -10px;
    background: white url("img_other/arrows.svg") no-repeat center center;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .divider-info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 4px;
    padding: 5px;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}
.tall{
    background-color:#f0f0f0;
    width:100%;
    display:block;
    padding-top:66.666%;  /* First image */
}
.img-load-empty {
    display: none;
}
.outlined .caption {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-style: italic;
}
.img-figure {
    width: 98%;
    margin: 20px;
}
.image-selector {
    margin: auto;
    display: table;
}
.smartphone-alert {
    display: none;
    text-align: center;
}
@media only screen and (max-device-width : 640px) {
    .smartphone-alert {
        display: block;
    }
}
.thumb {
    width: 50px;
    margin: 5px 0px;
    border: white solid 2px;
    cursor: pointer;
}
.thumb-active {
    border: #333 solid 2px;
}
.centered-info {
    text-align: center;
}
.social-icon {
    width: 75%;
}
.social-icons {
    margin: auto;
}
.social-icon-left { padding-left: 25%; }
.social-icon-right { padding-right: 25%; }
.paperthumbs .col-sm {
    margin: 3px;
}
.paperthumbs p {
    margin-bottom: 0px;
}
.paperthumbs h4 {
    margin-top: 20px;
}
.citation {
    font-size: 10pt;
}
.conference-name {
    margin-top: -5px;
}